body{
    background-color:$violet;
        font-family: Conforta;
}

.saman{
     font-family: 'Saman';
     /*color:white;*/
     /*text-shadow: 2px 2px white;*/ 
     font-size:50px;
     transition:0.5s;
     color:$cyan;
}

.saman:hover{
     text-shadow: 0px 0px 5px white; 
    
}

.navigation{
    font-family: Saman;
    font-size: 40px;
    /*background-color:$orange;*/ 
    /*border-bottom: 5px solid $orange;*/
    padding: 2%;
    transition:0.2s;
}

.navigation > a:hover{
    border-left: 5px solid $orange;
transition:0.17s;
}
.navigation > a{
        color:white;
        transition:0.5s;
}

.navigation:active{
    background-color:$vert;
}

@font-face {
    font-family: 'Saman'; /*a name to be used later*/
    src: url('http://deeveadee.my/source/font/SAMAN___.TTF'); /*URL to font*/
}
@font-face {
    font-family: 'Conforta'; /*a name to be used later*/
    src: url('http://deeveadee.my/source/font/Confortaa-Regular.TTF'); /*URL to font*/
}

.cl-effect-21 a {
	padding: 10px;
	color: #237546;
	font-weight: 700;
	text-shadow: none;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.cl-effect-21 a::before,
.cl-effect-21 a::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-21 a::before {
	top: 0;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-21 a::after {
	bottom: 0;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.cl-effect-21 a:hover,
.cl-effect-21 a:focus {
	color: #fff;
}

.cl-effect-21 a:hover::before,
.cl-effect-21 a:focus::before,
.cl-effect-21 a:hover::after,
.cl-effect-21 a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}
