table{
    background-color: rgba(151,236,219,0.7);
}

tr{
    transition:0.1s;
}


th{
    background-color:$cyan;
}

tr:hover{
    background-color:$cyan;
}

.dvdOTM{
    background-color:$cyan;
-webkit-box-shadow: 0px 0px 85px -10px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 85px -10px rgba(0,0,0,0.75);
box-shadow: 0px 0px 85px -10px $rouge;
}

.dvd{
    background-color:$cyan;
-webkit-box-shadow: 0px 0px 85px -10px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 85px -10px rgba(0,0,0,0.75);
box-shadow: 0px 0px 85px -10px $cyan;
}

.dvdContent{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}
.dvdContent2{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, $rouge 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,$rouge 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,$rouge 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

    -webkit-transition: background 0.4s ease-out;  
    -moz-transition: background 0.4s ease-out;  
    -o-transition: background 0.4s ease-out;  
    transition: background 0.4s ease-out;  
  
    background-size:1000px 700px;  
    border-radius: 4px;  
    border: 1px solid $orange;  
    width: auto;  
    height: auto;  
}
.dvdContent2:hover{
    background-position:500px; 
    text-shadow: 0px 0px 5px white; 
}

.warningExemplaire{
    background-color: rgba(201,11,11,0.8);
    border-radius:4px;
    color: white;
    margin-left: 400px;
    margin-right: 400px;
}