body {
  background-color: #70146a;
  font-family: Conforta; }

.saman {
  font-family: 'Saman';
  /*color:white;*/
  /*text-shadow: 2px 2px white;*/
  font-size: 50px;
  transition: 0.5s;
  color: #97ecdb; }

.saman:hover {
  text-shadow: 0px 0px 5px white; }

.navigation {
  font-family: Saman;
  font-size: 40px;
  /*background-color:$orange;*/
  /*border-bottom: 5px solid $orange;*/
  padding: 2%;
  transition: 0.2s; }

.navigation > a:hover {
  border-left: 5px solid #fc5e21;
  transition: 0.17s; }

.navigation > a {
  color: white;
  transition: 0.5s; }

.navigation:active {
  background-color: #879528; }

@font-face {
  font-family: 'Saman';
  /*a name to be used later*/
  src: url("http://deeveadee.my/source/font/SAMAN___.TTF");
  /*URL to font*/ }
@font-face {
  font-family: 'Conforta';
  /*a name to be used later*/
  src: url("http://deeveadee.my/source/font/Confortaa-Regular.TTF");
  /*URL to font*/ }
.cl-effect-21 a {
  padding: 10px;
  color: #237546;
  font-weight: 700;
  text-shadow: none;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s; }

.cl-effect-21 a::before,
.cl-effect-21 a::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px); }

.cl-effect-21 a::before {
  top: 0;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px); }

.cl-effect-21 a::after {
  bottom: 0;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px); }

.cl-effect-21 a:hover,
.cl-effect-21 a:focus {
  color: #fff; }

.cl-effect-21 a:hover::before,
.cl-effect-21 a:focus::before,
.cl-effect-21 a:hover::after,
.cl-effect-21 a:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px); }

table {
  background-color: rgba(151, 236, 219, 0.7); }

tr {
  transition: 0.1s; }

th {
  background-color: #97ecdb; }

tr:hover {
  background-color: #97ecdb; }

.dvdOTM {
  background-color: #97ecdb;
  -webkit-box-shadow: 0px 0px 85px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 85px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 85px -10px #c90b0b; }

.dvd {
  background-color: #97ecdb;
  -webkit-box-shadow: 0px 0px 85px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 85px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 85px -10px #97ecdb; }

.dvdContent {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
  background: -moz-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
  /* IE6-9 */ }

.dvdContent2 {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
  background: -moz-linear-gradient(top, white 0%, #c90b0b 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, white 0%, #c90b0b 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, white 0%, #c90b0b 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
  /* IE6-9 */
  -webkit-transition: background 0.4s ease-out;
  -moz-transition: background 0.4s ease-out;
  -o-transition: background 0.4s ease-out;
  transition: background 0.4s ease-out;
  background-size: 1000px 700px;
  border-radius: 4px;
  border: 1px solid #fc5e21;
  width: auto;
  height: auto; }

.dvdContent2:hover {
  background-position: 500px;
  text-shadow: 0px 0px 5px white; }

.warningExemplaire {
  background-color: rgba(201, 11, 11, 0.8);
  border-radius: 4px;
  color: white;
  margin-left: 400px;
  margin-right: 400px; }

/*# sourceMappingURL=main.css.map */
